 <div class="container">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-0 me-5">
        <a class="navbar-brand" href="#">
          <img src="images/sniqsys_logo-120x120.png" class="logo mt-5 ms-4" alt="Logo">
      </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
              <div class="nav-item dropdown">
                <a href="index.hbs" class="nav-item nav-link me-5">Home</a></div>
                <div class="nav-item dropdown">
                <a href="about.hbs" class="nav-item nav-link me-5">About</a></div>
                <div class="nav-item dropdown">
                    <a href="jobs.hbs" class="nav-link disabled nav-item me-5">Jobs</a>
                  
                </div>
              
                <div class="nav-item dropdown">
                <a href="conatct.hbs" class="nav-item nav-link me-5">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
      
      <center><h1 class="m-5">About Us</h1></center>
      <div class="container p-5 mt-5 mb-5">
        <h2>Join forces with the most confided in name in the business        </h2>
        <p class="paragraph">Our forte lies in helping associations to utilize their product, services or business adequately, such that supports their organizational objectives and vital strategic priorities.

          At SNIQSYS Technosphere, We invest heavily in being confided in partners, with our collaborators and customers. We accept that the most significant organizations thrive through corresponding partnerships. Accordingly, our partnership program offers a scope of conceivable outcomes that empowers organizations to adjust to evolving markets, technical progressions, and address client issues.</p>
     <h2>Why Choose Us    </h2>
     <p class="paragraph">Our partnership initiatives serve the specializations and nearness of every one of our partners. Complete arrangements address focused on market needs and convey mutual value. Our market-smart, opportunity-ready solutions provide enhanced support. Our partnership program bolsters customized solutions for each market and clients. Access highly evolved and cost-effective training program for presales and professional services. Gain presales and consulting support, through the lifetime of the partnership.</p>
    <h2>MISSION STATEMENT    </h2>
    <p class="paragraph">Our main goal is to stay a world-class enterprising, enhanced, and socially dependable development and service organization that gives high-quality value- added services for our clients. To be the impetus in networks of clients, partners, and contributors making better innovation for all the services that we offer.
    </p>   
    <h2>OUR CORE VALUES    </h2>
    <ol type="1" class="paragraph">
      <li>Customer First      </li>
      <li>Embrace and Drive Change 3. Think and Act Collaboratively      </li>
      <li>Encourage people to think without boundaries      </li>
      <li>Operate with Integrity</li>
    </ol>
    <h2>CORE VALUES EXPLAINED    </h2>
    <ol type="1" class="paragraph">
      <h3><li>Customer First<br></h3>
        <p>
           Customer's perception is our reality. - Kate Zabriske (Business Consultant - Business Training Works)
          <br>

We as an organization gives special consideration and accentuation on putting the client's needs in front of all other priorities and wind up giving a customized client experience. SNIQSYS Technosphere endeavors to build sound acquaintances with our customers by distinguishing their needs and giving the most ideal experience to our clients.
</p>
</li>
<li> Embrace and Drive Change The art of life lies in the constant readjustment to our surroundings - Kakuzo Okakura (Japanese Author, quote from the book - The Book of Tea) Incidentally, Change is the one constant that you can rely on at SNIQSYS

Technosphere. Reliable change implies that there are openings and other opportunities around each corner. We ensure that we are attempting to set ourself up for the next stage in our activities. There are a few different ways to do that:<br>
<ul style="list-style-type:disc;">
  <li>
    Persistent Learning-Be as well or beyond as expected by our customers so when open doors emerge from changes in our or in our partners's organization, we'll be prepared to gain by them right away.</li>
   <li> Figure out how to move with the punches: be versatile! Change is certainly not a terrible thing. SNIQSYS Technosphere is loaded with individuals who have been tossed into circumstances that made them uncomfortable just to see them flourish. </li>
   <li> Search for chances to contribute. The best thoughts don't generally originate from the pioneers of the organization (nor should they). We together can have any kind of effect! Expect and embrace that change is a piece of our strategy and how we continually improve. It bolsters our Mission Statement by keeping SNIQSYS Technosphere practical. Flourishing in a changing environment can be testing. In any case, we were employed for your one of a kind characteristics and to ensure growth.
      </li> </ul> </p>
      </li>
    <li> <h3>Think and Act Collaboratively</h3> Unity is strength, when there is teamwork and collaboration, wonderful things can be achieved - Mattie Stepanek (Poet, Philosopher and Peacemaker)

Through collaboration, we increase our commitment. Together, we are more grounded and can contribute more. Common objectives and shared assistance
lead to more prominent accomplishment than segregated work and individual core interest. Trust and care are significant for joint effort. Without trust, we sit around pausing and pursuing each other. Without individual consideration, one individual may pick up yet at an expense to other people, prompting a total deficit of commitment.
    </li>
    <li>
     <h3> Encourage people to think without boundaries</h3>

Who looks outside dreams, who looks inside awakes (Carl Gustav Jung - Swiss psychiatrist and psychoanalyst who founded analytical psychology)

Being the world's driving business consulting firm, it is imperative that we require unparalleled vision, development and execution. We never settle in all that we do, we challenge our thoughts of what's conceivable so as to more readily address the needs of our clients.

    </li>
    <li>
      <h3>Operate with Integrity</h3>
      ntegrity is doing the right thing, even if nobody is watching (CS Lewis - British writer and lay theologian)

To respect our dedication and act with trust in the entirety of our connections. Integrity is the establishment on which we build our connections, trust, and powerful interpersonal relationships.
    </li>
    </ol>
    </div>
    <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>


      <!-- Footer -->
<footer class="bg-dark text-center text-white mb-0">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
     <section class="mb-0">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-x-twitter"></i></a>


      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

    
    </section>
    <!-- Section: Social media -->

 
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 mb-0" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:All rights are reserved by SNIQSYS
    
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
