<div class="container">
    <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-0 me-5">
        <a class="navbar-brand" href="#">
          <img src="images/sniqsys_logo-120x120.png" class="logo mt-5 ms-4" alt="Logo">
      </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
              <div class="nav-item dropdown">
                <a href="index.hbs" class="nav-item nav-link me-5">Home</a></div>
                <div class="nav-item dropdown">
                <a href="about.hbs" class="nav-item nav-link me-5">About</a></div>
                <div class="nav-item dropdown">
                    <a href="jobs.hbs" class="nav-link disabled nav-item me-5">Jobs</a>
                  
                </div>
              
                <div class="nav-item dropdown">
                <a href="conatct.hbs" class="nav-item nav-link me-5">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->



      <img class="card-img-top mt-2" src="https://th.bing.com/th/id/OIP.MFNgZYYORyXEcmtYQSavgQHaEk?pid=ImgDet&rs=1" alt="Card image cap">

      <div class="p-5">
 <h1 class="mt-5">   AI and Machine Learning Solutions</h1>
<p class="mt-5">
Harness the power of AI and Machine Learning to gain valuable insights, automate tasks, and transform your business. Our expert team can design and implement AI solutions that enhance efficiency, productivity, and decision-making.
</p>


 <h2 class="mt-5">Data Science Consulting</h2>
<p class="mt-5">
Our data scientists are here to help you extract meaningful patterns and predictions from your data. Whether it's optimizing processes, improving customer experiences, or reducing operational costs, we've got you covered.
</p>



<h2 class="mt-5">Custom AI Development</h2>
<p class="mt-5">
No two businesses are the same. That's why we offer custom AI development services tailored to your unique needs. Let us build a solution that addresses your specific challenges and opportunities.

</p>

<h2 class="mt-5">Data Analytics</h2>
<p class="mt-5 mb-5">
Make informed decisions with our advanced data analytics services. From data visualization to predictive modeling, we provide the insights you need to drive growth and innovation.
</p>
</div>
</div>