<div class="container">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-0 me-5">
        <a class="navbar-brand" href="#">
            <img src="images/sniqsys_logo-120x120.png" class="logo mt-5 ms-4" alt="Logo">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <div class="nav-item dropdown">
                    <a href="index.hbs" class="nav-item nav-link me-5">Home</a>
                </div>
                <div class="nav-item dropdown">
                    <a href="about.hbs" class="nav-item nav-link me-5">About</a>
                </div>
                <div class="nav-item dropdown">
                    <a href="jobs.hbs" class="nav-link disabled nav-item me-5">Jobs</a>

                </div>

                <div class="nav-item dropdown">
                    <a href="conatct.hbs" class="nav-item nav-link me-5">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <img class="card-img-top mt-2"
        src="https://www.articlecity.com/wp-content/uploads/2017/12/cloud-service-provider.jpeg" alt="Card image cap">

    <p class="mt-5">
        In an era where cloud computing is transforming the way businesses operate, Sniqsys stands as your guiding light
        towards harnessing the full potential of the cloud. Cloud solutions have revolutionized organizations, offering
        unparalleled flexibility, rapid scalability, and enhanced business value. The migration to cloud-based
        applications is no longer a choice but a necessity to thrive in the competitive market landscape.

        At Sniqsys, we specialize in facilitating this transition seamlessly, empowering you to realize the projected
        benefits of the cloud. Our expertise in product engineering, combined with an in-depth knowledge of leading
        cloud platforms, has allowed numerous clients to unlock the true potential of cloud technologies and add
        substantial value to their products.
    </p>

    <p class="mt-5">

        Windows Azure: Microsoft's cloud-based platform, Windows Azure, is renowned for its exceptional computing power.
        It caters to businesses of all sizes, accelerating real-time processing and enabling the handling of a high
        server load. Sniqsys is your trusted partner in maximizing the potential of Azure, leveraging its integrated
        services to propel your business to new heights.

        Amazon Web Services (AWS): Our commitment to businesses spans across the spectrum of sizes, and our AWS
        expertise is a testament to that. We architect, develop, migrate, and manage applications on the robust Amazon
        Web Services cloud. As an AWS partner, we work closely with organizations to determine the best migration
        strategy, ensuring a seamless transition to the Amazon cloud. With 24x7 support for AWS-hosted infrastructure,
        we safeguard your business continuity.
    </p>
    <p class="mt-5">


        Google Cloud Platform (GCP): The Google Cloud Platform empowers organizations to build cloud-native applications
        by harnessing a wide array of Google's Infrastructure as a Service (IaaS) and Platform as a Service (PaaS)
        offerings. This eliminates the need for managing infrastructure, provisioning servers, and configuring networks,
        allowing your innovators to focus on what they do best: innovating. Sniqsys, as a trusted GCP partner, aids
        enterprises in selecting the perfect blend of tools and technologies to craft groundbreaking solutions.
    </p>
    <p class="mt-5">

        In a world where cloud computing is the cornerstone of business transformation, Simplogics ensures that your
        journey to the cloud is not just seamless but truly transformative. Discover the Sniqsys advantage and let us
        guide you towards a future where the cloud is your greatest ally.
    </p>

</div>