   <div class="container">
          <!-- Navbar Start -->
          <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-0 me-5">
            <a class="navbar-brand" href="#">
              <img src="images/sniqsys_logo-120x120.png" class="logo mt-5 ms-4" alt="Logo">
          </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
              <div class="nav-item dropdown">
                <a href="index.hbs" class="nav-item nav-link me-5">Home</a></div>
                <div class="nav-item dropdown">
                <a href="about.hbs" class="nav-item nav-link me-5">About</a></div>
                <div class="nav-item dropdown">
                    <a href="jobs.hbs" class="nav-link disabled nav-item me-5">Jobs</a>
                  
                </div>
                
                <div class="nav-item dropdown">
                <a href="conatct.hbs" class="nav-item nav-link me-5">Contact</a>
                </div>
            </div>
        </div>
        </nav>
        <!-- Navbar End -->
 
 <!-- address begins-->
<div class="container contains">
  <div class="row">
    <div class="col-md-6">
      <div class="p-5 mt-5">
        <center> <i class="fa-solid fa-location-dot fa-5x"></i></center>
        <h2>Head office</h2><br>
        <p>SNIQSYS Technosphere Pvt Ltd, Sreekaryam, Trivandrum - 695017,<br>
          1st Floor, ESSAR Plaza,<br>
          Kerala, India</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="p-5 mt-5">
        <center> <i class="fa-solid fa-location-dot fa-5x"></i></center>
        <h2>Development Center</h2><br>
        <p>
          18 Brainton Avenue, Feltham, Middlesex, England.<br>
          OAY</p>
      </div>
    </div>
  </div>
</div>
<!-- address ends-->


      <!-- form begins-->

    <div class="container contains">
      
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
           
          </p>

          <div class="info">
            <div class="information">
           
              <p> SNIQSYS Technosphere Pvt Ltd, Sreekaryam, Trivandrum - 695017,
                1st Floor, ESSAR Plaza,
                Kerala, India</p>
            </div>
            <div class="information">
              <p>jerinbabujb007@gmail.com</p>
            </div>
            <div class="information">
              <p>123-456-789</p>
            </div>
          </div>

        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

<form action="/contact.hbs" method="post" autocomplete="off">
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" placeholder="Username" />
              <label for=""></label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" placeholder="email" />
              <label for=""></label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" placeholder="Phone" />
              <label for=""></label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input" placeholder="Message"></textarea>
              <label for=""></label>
              <span>Message</span>
            </div>
         
              <input type="submit" value="Send" class="btn">
           
                      </form>
        </div>
      </div>
    </div>
    <!--form ends-->
    <!--bottomup btn begins-->

    <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>
<!--bottomup btn ends-->

 <!-- Footer -->
<footer class="bg-dark text-center text-white mb-0">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-0">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa-brands fa-x-twitter"></i>
      </a>

      

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      
    </section>
   
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 mb-0" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:All rights are reserved by SNIQSYS
    
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
   </div>