<div class="container">

  <!--carousal begins-->
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner ">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-0 me-5 navigationbar">
        <a class="navbar-brand" href="#">
          <img src="images/sniqsys_logo-120x120.png" class="logo mt-5 ms-4 " alt="Logo">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto p-4 p-lg-0 ">

            <div class="nav-item dropdown">
              <a href="index.hbs" class="nav-item nav-link me-5">Home</a>
            </div>
            <div class="nav-item dropdown">
              <a href="about.hbs" class="nav-item nav-link me-5">About</a>
            </div>
            <div class="nav-item dropdown">
              <a href="jobs.hbs" class="nav-link disabled nav-item me-5">Jobs</a>

            </div>

            <div class="nav-item dropdown">
              <a href="conatct.hbs" class="nav-item nav-link me-5">Contact</a>
            </div>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->

      <div class="carousel-item active h-50" data-bs-interval="2000">
        <img src="https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg"
          class="d-block w-100 h-25 images" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="fs-3" style="color: aliceblue;">Journey Through ...</h5>
          <p class="fs-5" style="color: aliceblue;">Our innovative solutions provide sustained and meaningful value to our customers.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_1280.jpg"
          class="d-block w-100 h-25 images" alt="...">
        <div class="carousel-caption d-none d-md-block ">
          <h5 class="fs-3" style="color: aliceblue; font-family: 'Acme';">Journey Through ...</h5>
          <p class="fs-5" style="color: aliceblue; font-family: 'Acme';">Our innovative solutions provide sustained and meaningful value to our customers.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://cdn.pixabay.com/photo/2019/04/07/13/58/pond-4109750_1280.jpg"
          class="d-block w-100 h-25 images " alt="...">
       
       
        <div class="carousel-caption d-none d-md-block">
          <h5 class="fs-3" style="color: aliceblue;">Journey Through ...</h5>
          <p class="fs-5" style="color: aliceblue;">Our innovative solutions provide sustained and meaningful value to our customers.</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--carousal ends-->
  <hr class="mt-0 mb-0">


  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <h2>Join forces with the most confided in name in the business</h2>
        <p>
          Our forte lies in helping associations to utilize their product, services or business adequately, such that
          supports their organizational objectives and vital strategic priorities.
        </p>
        <a href="./about.hbs">Read more.</a>
      </div>
      <div class="col-md-6">
        <img src="/images/cqt3bsbb.png" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container mb-5">
  <div class="row">
    <div class="col-md-4">
      <img src="/images/jyr89f77.png" class="img-fluid">
      <h2>We Develop Digital Future</h2>
      <p>
        We appreciate your trust greatly! Our clients choose us and our products
        because they know we're the best.
      </p>
      <ol class="list-group flex-column">
        <li class="list-group-item">Endless Possibilities</li>
        <li class="list-group-item">Process Optimization</li>
      </ol>
    </div>
  </div>
</div>


  <center><span class="fs-2 mt-5" style="font-family: 'Acme';"><b>OUR  SERVICES:</b></span></center><br>

  <div class="row p-5">
    <div class="card mt-5 ms-3" style="width: 18rem;">
      <img class="card-img-top mt-2" src="https://dz2cdn1.dzone.com/storage/article-thumb/183032-thumb.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Web Services</h5>
        <p class="card-text">In today's interconnected digital landscape, web services play a pivotal role in enabling
          communication and data exchange between different software applications and systems. They act as the building
          blocks that power the seamless functioning of the internet and various software solutions.</p>
        <a href="webservices.hbs" class="btn btn-primary">read more..</a>
      </div>
    </div>
    <div class="card mt-5 ms-3" style="width: 18rem;">
      <img class="card-img-top mt-2" src="https://www.signifimedia.com.au/wp-content/uploads/2021/02/blog-ecomm.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">E-Commerce</h5>
        <p class="card-text">E-commerce, short for electronic commerce, represents the buying and selling of goods and
          services over the internet. It has revolutionized the way people shop and conduct business, offering
          convenience, accessibility, and a global reach. Here are some key aspects of e-commerce.</p>
        <a href="e-commerce.hbs" class="btn btn-primary">read more..</a>
      </div>
    </div>
    <div class="card mt-5 ms-3" style="width: 18rem;">
      <img class="card-img-top mt-2" src="https://th.bing.com/th/id/OIP.MFNgZYYORyXEcmtYQSavgQHaEk?pid=ImgDet&rs=1"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">AI/ML AND DATA SCIENCE</h5>
        <p class="card-text">Harness the power of AI and Machine Learning to gain valuable insights, automate tasks, and
          transform your business. Our expert team can design and implement AI solutions that enhance efficiency,
          productivity, and decision-making.
        </p>
        <a href="ai.hbs" class="btn btn-primary">read more..</a>
      </div>
    </div>


    <div class="card mt-5 ms-3" style="width: 18rem;">
      <img class="card-img-top mt-2"
        src="https://i2.wp.com/opensourceforu.com/wp-content/uploads/2018/05/Android-app-development.jpg?fit=1987%2C1088&ssl=1"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mobile Application Development</h5>
        <p class="card-text">Smartphones and tablet computing have led to new business opportunities, such as
          personalized services to customers and streamlined internal communications. Companies that provide mobile
          communication options for their consumers, employees, or business clients are better able to grow their
          revenues .</p>
        <a href="android.hbs" class="btn btn-primary">read more..</a>
      </div>
    </div>
    <div class="card mt-5 ms-3" style="width: 18rem;">
      <img class="card-img-top mt-2" src="https://www.articlecity.com/wp-content/uploads/2017/12/cloud-service-provider.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cloud Services</h5>
        <p class="card-text">In an era where cloud computing is transforming the way businesses operate, Sniqsys stands as your guiding light towards harnessing the full potential of the cloud. Cloud solutions have revolutionized organizations, offering unparalleled flexibility, rapid scalability, and enhanced business value. The migration to cloud-based applications is no longer a choice but a necessity to thrive in the competitive market landscape.</p>
        <a href="cloud.hbs" class="btn btn-primary">read more..</a>
      </div>
    </div>
  </div>

  


  <center><span class="fs-2 mt-5" style="font-family: 'Acme';"><b>OUR CLIENTS:</b></span></center><br>
  <center><img src="/images/clients.jpg" class="w-100 mt-5 mb-5"></center>
  <!-- Footer -->
  <footer class="bg-dark text-center text-white mb-0">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-0">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fa-brands fa-x-twitter"></i></a>


        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>


      </section>
      <!-- Section: Social media -->


    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 mb-0" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:All rights are reserved by SNIQSYS

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->




</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

<script>
  $(document).ready(function () {
    $('.bxslider').bxSlider();
  });

  $('.bxslider').bxSlider({
    infiniteLoop: true,
    minSlides: 6,
    maxSlides: 6,
    slideWidth: 800,
    moveSlides: 1,
    slideMargin: 10,
    pager: false,
    nextText: '',
    prevText: '',
    auto: true,
    pause: 2000
  });



</script>